<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>QC Report</title>

    <script type="text/javascript" src="resources/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="resources/jquery.tablesorter.min.js"></script> 
  	<link rel="stylesheet" type="text/css" href="resources/style.css">

	<script src="resources/plotly-latest.min.js"></script>


  	<script type="text/javascript">
        {% if not static %}
            colors_array = ['rgba(30, 144, 255, 1)', '#FF4500', '#32CD32'];

            function plot(div_name, type, title, x_title, x, y_title=null, y=[], traces=[], data_options={}, layout_options={'x':{}, 'y':{}})
            {
                console.log('loading graph: ' + div_name);
                var data = [];
                // incase there is no x:
                if (x.length === 0) {
                    Object.assign(data_options, {type: type});
                    data.push(data_options);
                }
                for (var i = 0; i < x.length; i++) {
                    current_data = {
                        x: x[i],
                        type: type,
                        marker: {
                            color: colors_array[i]
                        }
                    };
                    // if there is also y axis:
                    if(y.length > 0) {
                        Object.assign(current_data, {y: y[i]});
                    }
                    // adding optional params:
                    if(i < traces.length) {
                        data_options['name'] = traces[i];
                        data_options['text'] = Array(x[i].length).fill(traces[i]);
						data_options['hoverinfo'] = 'x+y+text';
						data_options['showlegend'] = false;
                    }
                    Object.assign(current_data, data_options);
                    data.push(current_data);
                }

                var layout;
                if (type === 'pie') {
                    layout = {title: title};
                }
                else {
                    layout = {title: title, legend: {x: 0.1, y: 1.1}};
                }
                var x_axis = {};
                if (x.length > 0) {
                    x_axis = {
                            title: x_title,
                            titlefont: {
                                family: 'Courier New, monospace',
                                size: 18,
                                color: '#7f7f7f'
                            }
                        };
                }
                // adding optional params:
                if(Object.keys(x_axis).length > 0 || Object.keys(layout_options.x).length > 0) {
                    Object.assign(x_axis, layout_options.x);
                    Object.assign(layout, {xaxis: x_axis});
                }

                // if there is also y axis:
                var y_axis = {};
                if(y.length > 0) {
                    y_axis = {
                            title: y_title,
                            titlefont: {
                                family: 'Courier New, monospace',
                                size: 18,
                                color: '#7f7f7f'
                            }
                        };
                }
                // adding optional params:
                if(Object.keys(y_axis).length > 0 || Object.keys(layout_options.y).length > 0) {
                    Object.assign(y_axis, layout_options.y);
                    Object.assign(layout, {yaxis: y_axis});
                }

                Plotly.newPlot( div_name, data, layout);
            }

            // important note: if you want to give the x axis range, you need to put min_values-0.5 and max_value+0.5, so the bins will be appear in the middle of the number!
            function plot_hist(div_name, title, x_title, x, traces=[], data_options={}, layout_options={'x':{}, 'y':{}})
            {
                plot(div_name, 'histogram', title, x_title, x, y_title=null, y=[], traces=traces, data_options=data_options, layout_options=layout_options)
            }

            function plot_bar(div_name, title, x_title, x, y_title, y, traces=[], data_options={}, layout_options={'x':{}, 'y':{}})
            {
                plot(div_name, 'bar', title, x_title, x, y_title=y_title, y=y, traces=traces, data_options=data_options, layout_options=layout_options)
            }

            function plot_scatter(div_name, title, x_title, x, y_title, y, data_options={}, layout_options={'x':{}, 'y':{}})
            {
                Object.assign(data_options, {mode: 'markers'});
                plot(div_name, 'scatter', title, x_title, x, y_title=y_title, y=y, traces=[], data_options=data_options, layout_options=layout_options)
            }

            function plot_line(div_name, title, x_title, x, y_title, y, traces=[], data_options={}, layout_options={'x':{}, 'y':{}})
            {
                Object.assign(data_options, {mode: 'lines'});
                plot(div_name, 'scatter', title, x_title, x, y_title=y_title, y=y, traces, data_options=data_options, layout_options=layout_options)
            }

            function plot_pie(div_name, title, sizes, labels, data_options={}, layout_options={'x':{}, 'y':{}})
            {
                Object.assign(data_options, {values: sizes, labels:labels, sort: false, rotation: 90, direction: 'counterclockwise'});
                plot(div_name, 'pie', title, null, [], y_title=null, y=[], traces=[], data_options=data_options, layout_options=layout_options)
            }

            function loadSectionGraphs(sectionName) {
                switch(sectionName) {
                    {% if ms2_counts is defined %}
                        case "ms2-counts":
                            break;
                    {% endif %}
                    {% if top_n is defined %}
                        case "top-n-hists":
                            {% for chunk in top_n.top_ns_log_sizes_chunks %}
                                plot_line('all-top-n{{loop.index}}', 'All Samples{{loop.index}}', 'TopN', {{top_n.top_ns_labels_chunks[loop.index0]}}, 'Counts (log10)', {{chunk}}, traces={{top_n.sample_chunks[loop.index0]}}, data_options={}, layout_options={'x':{autorange: false, range:[{{top_n.top_n_range[0]}}-0.5, {{top_n.top_n_range[1]}}+0.5]}, 'y': {autorange: false, range:[{{top_n.top_n_log_sizes_range[0]}}, {{top_n.top_n_log_sizes_range[1]}}]}});
                            {% endfor %}
                            {% for sample in top_n.samples %}
                                plot_bar('{{sample}}-top-n', '{{sample}}', 'TopN', [{{top_n.samples_dict[sample].top_n_labels}}], 'Counts (log10)', [{{top_n.samples_dict[sample].top_n_log_sizes}}], traces=[], data_options={}, layout_options={'x':{autorange: false, range:[{{top_n.top_n_range[0]}}-0.5, {{top_n.top_n_range[1]}}+0.5]}, 'y': {autorange: false, range:[{{top_n.top_n_log_sizes_range[0]}}, {{top_n.top_n_log_sizes_range[1]}}]}});
                            {% endfor %}
                            break;
                    {% endif %}
                    {% if charge_dist is defined %}
                        case "charge-dists":
                            {% for chunk in charge_dist.ms2_charge_states_sizes_chunks %}
                                plot_bar('all-charge-dist{{loop.index}}', 'All Samples{{loop.index}}', 'Charge Distribution', {{charge_dist.ms2_charge_states_labels_chunks[loop.index0]}}, 'Counts (log10)', {{chunk}}, traces={{charge_dist.sample_chunks[loop.index0]}}, data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{charge_dist.ms2_charge_state_sizes_range[0]}}, {{charge_dist.ms2_charge_state_sizes_range[1]}}]}});
                            {% endfor %}
                            {% for sample in charge_dist.samples %}
                                plot_bar('{{sample}}-charge-dist', '{{sample}}', 'Charge Distribution', [{{charge_dist.samples_dict[sample].ms2_charge_state_labels}}], 'Counts (log10)', [{{charge_dist.samples_dict[sample].ms2_charge_state_sizes}}], traces=[], data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{charge_dist.ms2_charge_state_sizes_range[0]}}, {{charge_dist.ms2_charge_state_sizes_range[1]}}]}});
                            {% endfor %}
                            break;
                    {% endif %}
                    {% if inject_time is defined %}
                        case "inject-times":
                            {% for chunk in inject_time.ms2_injects_log_sizes_chunks %}
                                plot_line('all-inject-time{{loop.index}}', 'All Samples{{loop.index}}', 'Injection Time (msec)', {{inject_time.ms2_injects_labels_chunks[loop.index0]}}, 'Counts (log10)', {{chunk}}, traces={{inject_time.sample_chunks[loop.index0]}}, data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{inject_time.ms2_inject_log_sizes_range[0]}}, {{inject_time.ms2_inject_log_sizes_range[1]}}]}});
                            {% endfor %}
                            {% for sample in inject_time.samples %}
                                plot_bar('{{sample}}-inject-time', '{{sample}}', 'Injection Time (msec)', [{{inject_time.samples_dict[sample].ms2_inject_labels}}], 'Counts (log10)', [{{inject_time.samples_dict[sample].ms2_inject_log_sizes}}], traces=[], data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{inject_time.ms2_inject_log_sizes_range[0]}}, {{inject_time.ms2_inject_log_sizes_range[1]}}]}});
                            {% endfor %}
                            break;
                    {% endif %}
                    {% if ret_vs_top_n is defined %}
                        case "ms1-rets-vs-top-ns":
                            break;
                    {% endif %}
                    {% if inject_vs_ret is defined %}
                        case "injects-vs-rets":
                            break;
                    {% endif %}
                    {% if total_ion_current is defined %}
                        case "total-ion-current":
                            document.getElementById('sort-tic-button').innerHTML = 'Sort by Run Date';
                            toggleTICSort();
                            break;
                    {% endif %}
                    {% if ms2_intensities is defined %}
                        case "ms2-intensities":
                            break;
                    {% endif %}
                    {% if prec_ratio is defined %}
                        case "ms2-precursor-ratio":
                            {% for sample in prec_ratio.samples %}
                                plot_bar('{{sample}}-ms2-precursor-ratio', '{{sample}}', 'Precursor ratio', [{{prec_ratio.samples_dict[sample].ms2_prec_ratio_labels}}], 'Counts', [{{prec_ratio.samples_dict[sample].ms2_prec_ratio_sizes}}], traces=[], data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{prec_ratio.ms2_prec_ratio_sizes_range[0]}}, {{prec_ratio.ms2_prec_ratio_sizes_range[1]}}]}});
                            {% endfor %}
                            break;
                    {% endif %}
                    {% if mz_dist is defined %}
                        case "ms2-mz-values":
                            {% for chunk in mz_dist.ms2_mz_values_sizes_chunks %}
                                plot_line('all-ms2-mz-value{{loop.index}}', 'All Samples{{loop.index}}', 'M/Z Value', {{mz_dist.ms2_mz_values_x_axis_chunks[loop.index0]}}, 'Counts', {{chunk}}, traces={{mz_dist.sample_chunks[loop.index0]}}, data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{mz_dist.ms2_mz_value_sizes_range[0]}}, {{mz_dist.ms2_mz_value_sizes_range[1]}}]}});
                            {% endfor %}
                            {% for sample in mz_dist.samples %}
                                plot_line('{{sample}}-ms2-mz-value', '{{sample}}', 'M/Z Value', [{{mz_dist.samples_dict[sample].ms2_mz_value_x_axis}}], 'Counts', [{{mz_dist.samples_dict[sample].ms2_mz_value_sizes}}], traces=[], data_options={}, layout_options={'x':{}, 'y': {autorange: false, range:[{{mz_dist.ms2_mz_value_sizes_range[0]}}, {{mz_dist.ms2_mz_value_sizes_range[1]}}]}});
                            {% endfor %}
                            break;
                    {% endif %}
                    {% if mz_peaks is defined %}
                        case "fmhw":
                            {% for sample in mz_peaks.samples %}
                                plot_pie('{{sample}}-fmhw-pie', '{{sample}}', {{mz_peaks.samples_dict[sample].fmhw_labels_sizes}}, {{mz_peaks.samples_dict[sample].fmhw_labels}});
                            {% endfor %}
                            break;
                        case "peak-symmetry":
                            {% for chunk in mz_peaks.peak_symmetries_sizes_chunks %}
                                plot_bar('all-peak-symmetry-bar{{loop.index}}', 'All Samples{{loop.index}}', 'T2/T1', {{mz_peaks.peak_symmetries_lables_chunks[loop.index0]}}, 'Num Values', {{chunk}}, traces={{mz_peaks.sample_chunks[loop.index0]}}, data_options={}, layout_options={'x':{tickangle: 10}, 'y':{}});
                            {% endfor %}
                            break;
                    {% endif %}
                    default:
                        console.log('Unknown section: ' + sectionName);
                }
            }

            function unLoadAllGraphs() {
                {% for sample in samples %}
                    document.getElementById('{{sample}}-top-n').innerHTML = '';
                    document.getElementById('{{sample}}-charge-dist').innerHTML = '';
                    document.getElementById('{{sample}}-inject-time').innerHTML = '';
                    document.getElementById('{{sample}}-co-isolation').innerHTML = '';

                    document.getElementById('{{sample}}-ms2-precursor-ratio').innerHTML = '';
                    document.getElementById('{{sample}}-ms2-mz-value').innerHTML = '';
                    document.getElementById('{{sample}}-fmhw-pie').innerHTML = '';
                {% endfor %}
                {% for chunk in sample_chunks %}
                    document.getElementById('all-top-n{{loop.index}}').innerHTML = '';
                    document.getElementById('all-charge-dist{{loop.index}}').innerHTML = '';
                    document.getElementById('all-inject-time{{loop.index}}').innerHTML = '';
                    document.getElementById('all-ms2-mz-value{{loop.index}}').innerHTML = '';
                {% endfor %}

                document.getElementById('total-ion-current1').innerHTML = '';
            }
        {% endif %}

        function openSection(evt, sectionName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            if (evt != null) {
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(sectionName).style.display = "block";
            if (evt != null) {
                evt.currentTarget.className += " active";
            }

            {% if static %}
                if(sectionName=='total-ion-current')
                    document.getElementById('sort-tic-button').innerHTML = 'Sort by Run Date';
                    toggleTICSort();
            {% else %}
                // Unload graphs and load section graph:
                unLoadAllGraphs();
                loadSectionGraphs(sectionName);
            {% endif %}
        }

        function toggleTICSort() {
			var sortedSamples;
			var sortedSums;
			var btnElem = document.getElementById('sort-tic-button');
			var plotElem = document.getElementById('total-ion-current1');
            {% if static %}
                // sort samples and sums according to sort type:
                if(btnElem.innerHTML == 'Sort by Run Date') {
                    btnElem.innerHTML = 'Sort by Name';
                    plotElem.src = String.raw`{{total_ion_current.tic_run_date_sort_relative_path}}`;
                }
                else {
                    btnElem.innerHTML = 'Sort by Run Date';
                    plotElem.src = String.raw`{{total_ion_current.tic_lex_sort_relative_path}}`;
                }
            {% else %}
                // sort samples and sums according to sort type:
                if(btnElem.innerHTML == 'Sort by Run Date') {
                    btnElem.innerHTML = 'Sort by Name';
                    sortedSamples = {{total_ion_current.sorted_run_date_samples}};
                    sortedSums = {{total_ion_current.sorted_run_date_tic_sums}};
                }
                else {
                    btnElem.innerHTML = 'Sort by Run Date';
                    sortedSamples = {{total_ion_current.sorted_lex_samples}};
                    sortedSums = {{total_ion_current.sorted_lex_tic_sums}};
                }
                // re-plot plot:
                plotElem.innerHTML = '';
                plot_bar('total-ion-current1', '', 'Samples', [sortedSamples], 'MS1 Intensities Sum', [sortedSums], traces=[], data_options={}, layout_options={'x':{showticklabels:false}, 'y':{exponentformat: 'power'}});
            {% endif %}
		}

        $(function()
		{
			openSection(null, 'ms2-counts');
			$("#ms2-counts-table").tablesorter({sortList: [[0, 0]]});
			console.log("loaded!");
		});
	</script>
</head>

<body>
	<div id="page-top-wrapper">
		<div class="page-top section-content">
			<a href="http://g-incpm.weizmann.ac.il/" title="incpm" target="_blank" class="incpm-logo active"><img src="resources/images/incpm_logo.png" alt=""></a>
			<a href="http://www.weizmann.ac.il/" title="www.weizmann.ac.il" target="_blank" class="weizmann-logo"><img src="resources/images/weizmann_logo.jpg" alt=""></a>
			<div class="clear"></div>
		</div>
	</div>


	<div id="main-div" class="center-div">
        <h1>Raw Beans</h1>

        <div class="tab">
            {% if ms2_counts is defined %}
			    <button class="tablinks active" onclick="openSection(event, 'ms2-counts')">MS2 Counts</button>
            {% endif %}
            {% if frag_pipe_stats is defined %}
			    <button class="tablinks" onclick="openSection(event, 'frag-pipe-stats')">Frag Pipe Stats</button>
            {% endif %}
            {% if mass_error is defined %}
			    <button class="tablinks" onclick="openSection(event, 'mass-error')">Mass Error</button>
            {% endif %}
            {% if missed_cleavages is defined %}
			    <button class="tablinks" onclick="openSection(event, 'missed-cleavages')">Missed Cleavages</button>
            {% endif %}
            {% if top_n is defined %}
			    <button class="tablinks" onclick="openSection(event, 'top-n-hists')">Top-N</button>
            {% endif %}
            {% if charge_dist is defined %}
			    <button class="tablinks" onclick="openSection(event, 'charge-dists')">Charge Distribution</button>
            {% endif %}
            {% if inject_time is defined %}
			    <button class="tablinks" onclick="openSection(event, 'inject-times')">Injection Time</button>
            {% endif %}
            {% if ret_vs_top_n is defined %}
                <button class="tablinks" onclick="openSection(event, 'ms1-rets-vs-top-ns')">Retention vs. Top-N</button>
            {% endif %}
            {% if inject_vs_ret is defined %}
			    <button class="tablinks" onclick="openSection(event, 'injects-vs-rets')">Injection vs. Retention</button>
            {% endif %}
            {% if total_ion_current is defined %}
			    <button class="tablinks" onclick="openSection(event, 'total-ion-current')">Total Ion Current</button>
            {% endif %}
            {% if ms2_intensities is defined %}
                <button class="tablinks" onclick="openSection(event, 'ms2-intensities')">MS2-Intensities</button>
            {% endif %}
            {% if prec_ratio is defined %}
                <button class="tablinks" onclick="openSection(event, 'ms2-precursor-ratio')">MS2 Precursor Ratio</button>
            {% endif %}
            {% if mz_dist is defined %}
                <button class="tablinks" onclick="openSection(event, 'ms2-mz-values')">Triggered M/Z Distribution</button>
            {% endif %}
            {% if mz_peaks is defined %}
                <button class="tablinks" onclick="openSection(event, 'fmhw')">FWHM</button>
                <button class="tablinks" onclick="openSection(event, 'peak-symmetry')">Peak Symmetry</button>
            {% endif %}
            {% if mass_deviation is defined %}
                <button class="tablinks" onclick="openSection(event, 'mass-deviation')">Mass Deviation</button>
            {% endif %}
            <button class="tablinks" onclick="window.open('https://incpmpm.atlassian.net/wiki/spaces/PUB/pages/103290936/Proteomics+QC+Reporter', '_blank');">Help</button>
		</div>

        {% if ms2_counts is defined %}
            <div id="ms2-counts" class="tabcontent qc-section">
                <h2>Number of MS/MS Triggered per File</h2>
                <table border="1" id="ms2-counts-table" class="center-div">
                    <thead>
                        <tr>
                            <th>Sample Name</th>
                            <th># MS/MS Triggered </th>
                            {% if peak_splits is defined %}
                                <th>Peak Split?</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in ms2_counts.samples %}
                        <tr>
                            <td>{{sample}}</td>
                            <td>{{ms2_counts.samples_dict[sample].ms2_count}}</td>
                            {% if peak_splits is defined %}
                                {% if peak_splits.samples_dict[sample].peak_split_bool %}
                                    <td class="bad">True</td>
                                {% else %}
                                    <td class="good">False</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if frag_pipe_stats is defined %}
            <div id="frag-pipe-stats" class="tabcontent qc-section">
                <h2>Frag Pipe Stats</h2>
                <table border="1" id="frag-pipe-stats-table" class="center-div">
                    <thead>
                        <tr>
                            <th>Sample Name</th>
                            <th>PSM count</th>
                            <th>peptide count</th>
                            <th>protein count</th>
                            <th>PSM / MS2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in frag_pipe_stats.samples %}
                        <tr>
                            <td>{{sample}}</td>
                            <td>{{frag_pipe_stats.samples_dict[sample].psm_count}}</td>
                            <td>{{frag_pipe_stats.samples_dict[sample].peptide_count}}</td>
                            <td>{{frag_pipe_stats.samples_dict[sample].protein_count}}</td>
                            <td>{{"%.4f"|format(frag_pipe_stats.samples_dict[sample].psm_count / ms2_counts.samples_dict[sample].ms2_count)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if mass_error is defined %}
            <div id="mass-error" class="tabcontent qc-section">
                <h2>Mass Error</h2>
                <table border="1" id="mass-error-table" class="center-div">
                    <thead>
                        <tr>
                            <th>Sample Name</th>
                            <th>RMS</th>
                            <th>SD</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in mass_error.samples %}
                        <tr>
                            <td>{{sample}}</td>
                            <td>{{mass_error.samples_dict[sample].root_mean_square}}</td>
                            <td>{{mass_error.samples_dict[sample].standard_deviation}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if missed_cleavages is defined %}
            <div id="missed-cleavages" class="tabcontent qc-section">
                <h2>Missed Cleavages</h2>
                <table border="1" id="missed-cleavages-table" class="center-div">
                    <thead>
                        <tr>
                            <th>Sample Name</th>
                            <th>% of missed cleavages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in missed_cleavages.samples %}
                        <tr>
                            <td>{{sample}}</td>
                            <td>{{missed_cleavages.samples_dict[sample].missed_cleavages}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if top_n is defined %}
            <div id="top-n-hists" class="tabcontent qc-section">
                <h2>TopN per Cycle</h2>
                {% if static %}
                    {% for top_n_relative_path in top_n.top_n_relative_paths %}
                        <img id="all-top-n{{loop.index}}" src="{{top_n_relative_path}}" class="graph"/>
                    {% endfor %}
                    {% for sample in top_n.samples %}
                        <img id="{{sample}}-top-n" src="{{top_n.samples_dict[sample].top_n_relative_path}}" class="graph"/>
                    {% endfor %}
                {% else %}
                    {% for chunk in top_n.sample_chunks %}
                        <div id="all-top-n{{loop.index}}" class="graph"></div>
                    {% endfor %}
                    {% for sample in top_n.samples %}
                        <div id="{{sample}}-top-n" class="graph"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if charge_dist is defined %}
            <div id="charge-dists" class="tabcontent qc-section">
                <h2>Charge Distributions</h2>
                {% if static %}
                    {% for charge_state_relative_path in charge_dist.charge_state_relative_paths %}
                        <img id="all-charge-dist{{loop.index}}" src="{{charge_state_relative_path}}" class="graph"/>
                    {% endfor %}
                    {% for sample in charge_dist.samples %}
                        <img id="{{sample}}-charge-dist" src="{{charge_dist.samples_dict[sample].charge_state_relative_path}}" class="pie"/>
                    {% endfor %}
                {% else %}
                    {% for chunk in charge_dist.sample_chunks %}
                        <div id="all-charge-dist{{loop.index}}" class="graph"></div>
                    {% endfor %}
                    {% for sample in charge_dist.samples %}
                        <div id="{{sample}}-charge-dist" class="pie"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if inject_time is defined %}
            <div id="inject-times" class="tabcontent qc-section">
                <h2>Injection Time</h2>
                {% if static %}
                    {% for ms2_inject_relative_path in inject_time.ms2_inject_relative_paths %}
                        <img id="all-inject-time{{loop.index}}" src="{{ms2_inject_relative_path}}" class="graph"/>
                    {% endfor %}
                    {% for sample in inject_time.samples %}
                        <img id="{{sample}}-inject-time" src="{{inject_time.samples_dict[sample].ms2_inject_relative_path}}" class="graph"/>
                    {% endfor %}
                {% else %}
                    {% for chunk in inject_time.sample_chunks %}
                        <div id="all-inject-time{{loop.index}}" class="graph"></div>
                    {% endfor %}
                    {% for sample in inject_time.samples %}
                        <div id="{{sample}}-inject-time" class="graph"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if ret_vs_top_n is defined %}
            <div id="ms1-rets-vs-top-ns" class="tabcontent qc-section">
                <h2>Retention Time vs TopN</h2>
                {% for sample in ret_vs_top_n.samples %}
                    <img id="{{sample}}-ms1-ret-vs-top-n-image" src="{{ret_vs_top_n.samples_dict[sample].ms1_ret_vs_top_n_relative_path}}" class="graph"/>
                {% endfor %}
            </div>
        {% endif %}

        {% if inject_vs_ret is defined %}
            <div id="injects-vs-rets" class="tabcontent qc-section">
                <h2>Injection Time vs Retention Time</h2>
                {% for sample in inject_vs_ret.samples %}
                    <img id="{{sample}}-ms1-inject-vs-ret-image" src="{{inject_vs_ret.samples_dict[sample].ms1_inject_vs_ret_relative_path}}" class="graph"/>
                {% endfor %}
            </div>
        {% endif %}

        {% if total_ion_current is defined %}
            <div id="total-ion-current" class="tabcontent qc-section">
                <h2>Total Ion Current</h2>
                {% if static %}
                    <img id="total-ion-current1" src="{{total_ion_current.tic_run_date_sort_relative_path}}" class="graph"/>
                {% else %}
                    <div id="total-ion-current1" class="graph"></div>
                {% endif %}
                <div><div id="sort-tic-button" class="button" onClick="toggleTICSort()">Sort by Name</div></div>
            </div>
        {% endif %}

        {% if ms2_intensities is defined %}
            <div id="ms2-intensities" class="tabcontent qc-section">
                <h2>MS2-Intensities</h2>
                {% for sample in ms2_intensities.samples %}
                    <img id="{{sample}}-ms2-max-intensity-vs-ms2-num-intensities" src="{{ms2_intensities.samples_dict[sample].ms2_max_intensity_vs_ms2_num_intesities_relative_path}}" class="graph"/>
                {% endfor %}
            </div>
        {% endif %}

        {% if prec_ratio is defined %}
            <div id="ms2-precursor-ratio" class="tabcontent qc-section">
                <h2>MS2 Precursor Ratio</h2>
                {% if static %}
                    {% for sample in prec_ratio.samples %}
                        <img id="{{sample}}-ms2-precursor-ratio" src="{{prec_ratio.samples_dict[sample].prec_ratio_relative_path}}" class="pie"/>
                    {% endfor %}
                {% else %}
                    {% for sample in prec_ratio.samples %}
                        <div id="{{sample}}-ms2-precursor-ratio" class="pie"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if mz_dist is defined %}
            <div id="ms2-mz-values" class="tabcontent qc-section">
                <h2>Triggered M/Z Distribution</h2>
                {% if static %}
                    {% for ms2_mz_value_relative_path in mz_dist.ms2_mz_value_relative_paths %}
                        <img id="all-ms2-mz-value{{loop.index}}" src="{{ms2_mz_value_relative_path}}" class="graph"/>
                    {% endfor %}
                    {% for sample in mz_dist.samples %}
                        <img id="{{sample}}-ms2-mz-value" src="{{mz_dist.samples_dict[sample].ms2_mz_value_relative_path}}" class="graph"/>
                    {% endfor %}
                {% else %}
                    {% for chunk in mz_dist.sample_chunks %}
                        <div id="all-ms2-mz-value{{loop.index}}" class="graph"></div>
                    {% endfor %}
                    {% for sample in mz_dist.samples %}
                        <div id="{{sample}}-ms2-mz-value" class="graph"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if mz_peaks is defined %}
            <div id="fmhw" class="tabcontent qc-section">
                <h2>FMHW</h2>
                {% if static %}
                    {% for sample in mz_peaks.samples %}
                        <img id="{{sample}}-fmhw-pie" src="{{mz_peaks.samples_dict[sample].fmhw_pie_relative_path}}" class="pie"/>
                        <img id="{{sample}}-fmhw-scatter-image" src="{{mz_peaks.samples_dict[sample].peak_intentsity_vs_t_sum_relative_path}}" class="graph"/>
                    {% endfor %}
                {% else %}
                    {% for sample in mz_peaks.samples %}
                        <div id="{{sample}}-fmhw-pie" class="pie"></div>
                        <img id="{{sample}}-fmhw-scatter-image" src="{{mz_peaks.samples_dict[sample].peak_intentsity_vs_t_sum_relative_path}}" class="graph"/>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="peak-symmetry" class="tabcontent qc-section">
                <h2>Peak Symmetry</h2>
                {% if static %}
                    {% for peak_symmetry_relative_path in mz_peaks.peak_symmetry_relative_paths %}
                        <img id="all-peak-symmetry-bar{{loop.index}}" src="{{peak_symmetry_relative_path}}" class="graph"/>
                    {% endfor %}
                {% else %}
                    {% for chunk in mz_peaks.sample_chunks %}
                        <div id="all-peak-symmetry-bar{{loop.index}}" class="graph"></div>
                    {% endfor %}
                {% endif %}
                {% for sample in mz_peaks.samples %}
                    <!--<div id="{{sample}}-peak-symmetry-bar"></div>-->
                    <img id="{{sample}}-peak-symmetry-scatter-image" src="{{mz_peaks.samples_dict[sample].peak_intentsity_vs_t2_t1_ratio_relative_path}}" class="graph"/>
                {% endfor %}
            </div>
        {% endif %}

        {% if mass_deviation is defined %}
            <div id="mass-deviation" class="tabcontent qc-section">
                <h2>Mass Deviation</h2>
                {% for mass in mass_deviation.mass_deviation_relative_paths_dict %}
                    {% set outer_loop = loop %}
                    {% for chunk_path in mass_deviation.mass_deviation_relative_paths_dict[mass] %}
                        <img id="all-mass{{outer_loop.index}}-deviation{{loop.index}}" src="{{chunk_path}}" class="big-graph"/>
                    {% endfor %}
                {% endfor %}
                {% for sample in mass_deviation.samples %}
                    {% for relative_mass_deviation_full_path in mass_deviation.samples_dict[sample].mass_deviation_relative_paths %}
                        <img id="{{sample}}-mass{{loop.index}}-deviation" src="{{relative_mass_deviation_full_path}}" class="graph"/>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

	</div>
</body>
</html>
