
/*sorted table*/
th.header {
    background-image: url(images/bg.gif);
	background-size: 50px 16px;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 45px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(images/asc.gif);
    background-color: #3399FF;
	cursor: pointer;
	background-size: 50px 8px;
	background-repeat: no-repeat;
    background-position: center right;
	padding-right: 45px;
}

th.headerSortDown {
    background-image: url(images/desc.gif);
    background-color: #3399FF;
	cursor: pointer;
	background-size: 50px 8px;
	background-repeat: no-repeat;
    background-position: center right;
	padding-right: 45px;
}

/*tabs*/
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #28a8ff;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: rgba(30, 144, 255, 0.6);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgba(30, 144, 255, 1);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 18px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

body {
    font-weight: normal;
	font-family: verdana,arial,sans-serif;
}

h1 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-weight: bold;
	font-family: verdana,arial,sans-serif;
	font-size: 36px;
	line-height: 40px;
	counter-increment: section-1;
	counter-reset: section-2 section-3 section-4;
}

h2 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-weight: bold;
	font-family: verdana,arial,sans-serif;
	font-size: 24px;
	line-height: 40px;
	counter-increment: section-2;
	counter-reset: section-3 section-4;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	padding-bottom: 10px;
}

h3 {
    font-weight: normal;
	font-family: verdana,arial,sans-serif;
	font-size: 19px;
	line-height: 30px;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:18px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: rgba(30, 144, 255, 1);
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


#main-div {
    width: 1520px;
    text-align: center;
}

.qc-section {
    text-align: center;
    margin-bottom: 50px;
}

.center-div {
    margin: 0 auto;
}

.help-content {
    width: 1000px;
    margin: 0 auto;
}


.graph {
	height: 560px;
    width: 740px;
	display: inline-block;
}

.big-graph {
    height: 670px;
    width: 1380px;
	display: inline-block;
}

.pie {
	height: 490px;
    width: 740px;
	display: inline-block;
}

#total-ion-current1, #total-ion-current1-image {
	height: 900px;
    width: 1500px
}

.title {
    display: block;
    margin-bottom: 10px
}

.button {
    background-color: rgba(30, 144, 255, 1); /* Green */
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.left {
	float: left;
}
.right {
	float: right;
}

.good {
    background-color: limegreen;
}

.bad {
    background-color: red;
}


/*for g-incpm header*/
body{ position: relative; }
html, body{   min-height: 100%;}
/* Remove default margin. */
body {
  margin: 0;
  padding: 0;
}
.section-content { max-width: 1000px; width: 100%; margin: 0 auto; position: relative;}
#page-top-wrapper { min-height: 82px; width: 100%; background-color: #f3f3f3; position:relative}
#page-top-wrapper .incpm-logo IMG { width: 100%; max-width: 405px;  height: auto; }
.weizmann-logo { display: inline-block; float: right; margin-top: 21px; }
.clear { clear: both; }